[submodule "front"]
	path = front
	url = https://github.com/andrei-shtanakov/front.git
[submodule "code"]
	path = code
	url = https://github.com/andrei-shtanakov/code.git
[submodule "base_terraform"]
	path = base_terraform
	url = https://github.com/andrei-shtanakov/base_terraform.git
[submodule "environment_terraform"]
	path = environment_terraform
	url = https://github.com/andrei-shtanakov/environment_terraform.git
[submodule "app_terraform"]
	path = app_terraform
	url = https://github.com/andrei-shtanakov/app_terraform.git
