[submodule "front"]
	path = front
	url = https://github.com/andrei-shtanakov/front.git
[submodule "code"]
	path = code
	url = https://github.com/andrei-shtanakov/code.git
[submodule "base_terraform"]
	path = base_terraform
	url = https://github.com/andrei-shtanakov/base_terraform.git
